@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the UNFinished Business Employment App</h1>
    <hr />
    <div>
        <h3>Apply below</h3>
        <p>Begin the employment application process</p>
        <br />
        <a asp-action="Form" class="btn btn-primary">Apply now</a>
    </div>
</div>
